.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; 
}

nav {
  background: linear-gradient(-90deg, grey, black);
  color: black;  
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;  
}

nav h3 {
  color: white;
  padding: 5px;
  margin: 0
}

nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  color: black;
  transition: all .4s ease-in-out;
}

nav ul {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

nav a:hover {
  background: black;
  text-decoration: none;
  margin: 0;  
  margin-right: 10px;
  color: white;
  border-radius: 5px;
  transform: scale(1.1);
  text-align: center;
}

ul {  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-me {
  margin-right: 5px;
  padding: 5px;
  
}

.about-me p {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

.about-me li {
  font-size: 15px;
  padding: 3px;
  margin: 3px;
}

#avatar {
  border-radius: 50%;
  height: 250px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-right: 5px
}

#about-me {
  text-align: center;
  margin: 10px 0px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  }

#job-description {
  min-width: 600px;
  max-width: 600px;
  min-height: 200px;
  margin: 10px
}

#portfolio {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#projects {
  margin: 5px;
}

#projects li {
  font-size: 15px;
  padding: 3px;
  margin: 3px;
}

#projects a {
/*   display: block; */ /* I just can't decide :) */
  color: black;
}

#contact-me {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 5px 5px 0px 0px;
}

#contact-buttons li {
    margin: 5px;
}

#contact-me ul {
  margin: 5px;
  padding: 10px
}

@media screen and (min-width:760px){
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  nav li {
    flex: 1 1 0;
    min-width: 100px;
  }
  
  #about-me {
  display: flex;
  text-align: center;
  border-radius: 5px;
  }
  
  #portfolio {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
  }
  
  #contact-buttons {
    display: flex;
    flex: 1 1 0;
  }
  
  #contact-me {
    display: flex;
    justify-content: space-between;
  }
} 
